*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
  transition: background 0.3s ease;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 600;
}

img {
  width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}